<!doctype html>
<html lang="en-us">
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="app/components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="app/components/Bootflat/bootflat/css/bootflat.css" />
	<link rel="stylesheet" type="text/css" href="app/css/index.css" />
</head>
<body>
	{{> partials/header }}	
	<div class="container">
		{{> partials/search }}	
		<div class="row">
			<div class="col-md-2 col-lg-2"></div>
			<div class="col-md-8 col-lg-8">
				{{> partials/list }}
				<a href="/?page={{nextPage}}" class="pull-right next">Next</a>	
			</div>
		</div>
	</div>
	<div class="footer"></div>
	<script src="app/components/jquery/dist/jquery.js"></script>
	<script src="app/components/typeahead.js/dist/typeahead.jquery.js"></script>
    <script src="app/javascripts/index.js"></script>
</body>
</html>