<!doctype html>
<html lang="en-us">
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="app/components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="app/components/Bootflat/bootflat/css/bootflat.css" />
	<link rel="stylesheet" type="text/css" href="app/css/index.css" />
</head>
<body>
	{{> partials/header }}	
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-8">
				{{> partials/stats }}
			</div>
		</div>
	</div>
	<div class="footer"></div>
    <script src="app/javascripts/index.js"></script>
</body>
</html>